@import "tailwindcss";

:root {
  --color-blue-medium: #0b8bcc;
  --color-blue-dark: #015484;
  --color-navy: #201b54;
  --color-orange: #f68721;
  --color-gray-dark: #434344;
  --color-blue-gray: #506a6e;
  --color-cream: #fbf8ec;
  --color-gray-light: #e8e5e2;
  --color-gold: #aa9577;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
